<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
<!-- 			<link rel="stylesheet" type="text/css" href="/css/main.css"> -->
<!-- 			 changed here EDIT IN HERE-->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" href="https://media.giphy.com/media/U44oEFAkQevhcFfc2v/giphy.gif" type="image/gif" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
<!-- 	        		<li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kevindupreez8@gmail.com">email</a></li>
	        		<li><a href="https://github.com/bitBadger8">github</a></li>
				<li><a href="http://www.linkedin.com/in/kevindupreez8">Linkedin</a></li>
				<li><a href="https://www.instagram.com/bit_badger/">Instagram</a></li>
				<li><a href="https://bitbadger.co.za/">bitBadger Solutions</a></li>
				
				</ul>
			</footer>
		</body>
	</html>
